// Basic Setting
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-size: $fontsize-s;
    font-weight: $font-weight-m;
    line-height: $line-h-s;
}

.content{
    padding: 0 10vw;
}

.home, .explore{
    opacity: 1;
    transition: all 3s;
    position: absolute;
    top: 0;
}
.home{
    z-index: 3;
}
.explore{
    z-index: 2;
}
.hide{
    opacity: 0;
}

