// HOME SETTING

.background{
    width: 100vw;
    height: 100vh;
    @include over-hidden;
    position: relative;
    img{
        position: absolute;
        width: 100vw;
        height: auto;
    }
}

.sky{
    width: 100vw;
    top:0;
}
.title{
    bottom: 0;
}
.land{
    bottom: 0;
}
.astronaut{
    bottom: 0;
}
.note{
    position: absolute;
    top: 3vh;
    width: 100vw;
    text-align: center;

    color: $color-five;
    p{
        letter-spacing: $letter-spc-title1;
    }
    h3{
        letter-spacing: $letter-spc-title2;
        font-size: $fontsize-xxl;
        font-weight: $font-weight-s;
        line-height: 2.5;
    }
}