<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHAT CHAT</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="css/min/all.min.css">
</head>
<body>
    <div id="wrap">
        <div class="home" ref='home' v-if='vNowPage.home'>
           <main>
                <div class="background">
                    <img src="./img/homePage/space1.png" class="sky" alt="sky">
                    <img src="./img/homePage/Title.png" class="title move2" alt="title">
                    <img src="./img/homePage/space2.png" class="land move3" alt="land">
                    <img src="./img/homePage/man.png" class="astronaut move1" alt="astronaut">
                    <div class="note opacity">
                        <p>You Send a Message Out </p>
                        <h3>To The</h3>
                        <h3>Universe</h3>
                    </div>
                </div>
               <div class="content homeContent">
                   <div class="textName">
                        <input @keyup='showSubmit' ref='textInput' type="text" placeholder="Enter a username">
                        <div class="line"></div>
                        <input v-if='bSubmit' @click='exploreStage' type="submit" class='submit' value="Explore">
                   </div>
               </div>
           </main>
        </div>

        <div class="explore" v-if='vNowPage.explore'>
            <main>
                <div class="background">
                    <img src="./img/homePage/space0_hx2.png" alt="">
                    <div class="layerBlack"></div>
                    <img src="./img/homePage/Title.png" class="title move4" alt="title">
                </div>
                <div class="content">
 
                </div>
            </main>

        </div>

        <div class="chatRoom">

        </div>
    </div>

   <script src="js/all.js"></script>    
</body>
</html>