// COLOR SETTING
$color-master: #aa0445;
$color-sec: #270a2e;
$color-thir: #ffffff;
$color-four: #c41800;
$color-five: #f9bfcb;
$color-five-2: rgba(249, 191, 203, 0.8);
$color-six: #efefef;
$color-sev: #04aa9d;
$color-eight: #666666;
$color-nine: rgba(38, 12, 51, 0);

// FONT SETTING
$fontsize-xxl: 38px;
$fontsize-xl: 28px;
$fontsize-l: 24px;
$fontsize-m: 20px;
$fontsize-s: 16px;
$fontsize-xs: 12px;

$line-h-xxl: 1.37;
$line-h-xl: 1.36;
$line-h-l: 1.38;
$line-h-m: 1.35;
$line-h-s: 1.38;
$line-h-xs: 1.42;


$letter-spc-title1: 24px;
$letter-spc-title2: 76px;
$letter-spc-xxl: 1.52px;
$letter-spc-xl: 1.12px;
$letter-spc-l: 0.96px;
$letter-spc-m: 0.8px;
$letter-spc-s: 0.64px;
$letter-spc-xs: 0.48px;

$font-weight-l: 500;
$font-weight-m: 300;
$font-weight-s: 200;